*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: #0DC8FA;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 4.5rem;
}

.span__firstname{
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    transition: 0.4s;
}

.span__firstname:hover{
    color: #000;
}

.span__lastname{
    font-size: 1.2rem;
    font-weight: 400;
}

.a__navigation{
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.4s;
}

.a__navigation:hover{
   color: #000;
}



.section__about{
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__about__content{
    width: 50%;
    padding: 1.5rem;
}

.section__about__title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.section__about__text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.section__img__profile{
    background-color: #888888;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}