*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: #0DC8FA;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

.span__firstname{
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    transition: 0.4s;
}

.span__firstname:hover{
    color: #000;
}

.span__lastname{
    font-size: 1.2rem;
    font-weight: 400;
}

.a__navigation{
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.4s;
}

.a__navigation:hover{
   color: #000;
}

/* ---------------------------------------------------------------- */

main{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__about{
    background-color: #000;
    color: #fff;
    min-height: 115vh;
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__about__content{
    width: 50%;
    padding: 1.5rem;
}

.section__about__title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.section__about__text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.section__img__profile{
    background-color: #888888;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

/* ---------------------------------------------------------------- */

.section__skills{
    background-color: #fff;
    width: 90%;
    margin-top: -100px;
    padding: 2rem;
    border-radius: 1.75rem;
}

.section__title{
    font-size: 2.75rem;
    margin: 1.2rem 1.25rem;
    font-weight: bold;
}

.section__skill__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__div{
    width: 22%;
    background-color: #d4d4d4;
    margin: 1rem .5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    height: 24rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}

.section__div:hover{
    background-color: transparent;
    scale: 1.1;
}

.section__img__div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    object-fit: cover;
    width: 90%;
    opacity: 0.4;
    z-index: 1; 
    transition: .5s;
}

.section__img__div:hover{
    opacity: 0.1;
}

.section__subtitle{
    margin-bottom: 1rem;
    z-index: 10;
}

.section__text{
    font-size: 1.2rem;
    text-align: start;
    z-index: 10;
}

/* ---------------------------------------------------------------- */

.section__jobs{
    padding: 3rem 8rem;
}

.section__job__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__job__content > .section__div {
    width: 45%;
    height: 38rem;
}

.section__job__content > .section__div:hover {
    scale: 1.01;
    background-color: #fff;
}

.section__img__job{
    width: 100%;
    border-radius: 1.5rem;
}

.div__content__sites > .section__subtitle {
    margin-top: 1rem;
}

.section__tecnologias__usadas{
    display: flex;
    position: absolute;
    margin-top: 1.5rem;
}

.div__tecnologias__usadas{
    width: 10%;
    bottom: 0;
}